<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="mdc-typography">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div id="draw" class="mdc-layout-grid__cell--span-6"></div>
      </div>
    </div>
  </body>
</html>
